<div class="najeni-topper" @slideBottom>
  <span> ─── ⋆⋅☆⋅⋆ ───</span>
</div>
<div class="najeni-container">
  <div>
    <h1 class="najeni-title" @fadeIn>@naomii.desapegos</h1>
    <h3 @fadeIn class="najeni-subtitle">Calcule seu frete aqui 👇</h3>
    <div class="najeni-card">
      <mat-form-field appearance="outline" @fadeIn class="white-form">
        <input
          cepFormat
          class="najeni-input"
          matInput
          maxlength="9"
          [formControl]="cepControl"
        />
        <mat-icon matSuffix>explore</mat-icon>
        <mat-label>Digite seu CEP:</mat-label>
        <mat-error *ngIf="cepControl.hasError('invalid')"
          >CEP Inválido (｡•́︿•̀｡)</mat-error
        >
      </mat-form-field>

      <button
        mat-button
        class="najeni-button"
        @fadeIn
        (click)="calculateFrete()"
      >
        Calcular Freteˎˊ˗
      </button>
    </div>

    <app-frete-table
      *ngIf="tableData.length >= 1"
      @fadeIn
      [data]="tableData"
    ></app-frete-table>
  </div>

  <div class="najeni-footer" @slideBottom>
    <a href="https://www.instagram.com/naomii.desapegos/">
      Para mais informações, manda uma DM <br />
      ✰ ✰ ✰ @naomii.desapegos ✰ ✰ ✰</a
    >
  </div>
</div>
