<div class="najeni-topper" @fadeIn>
  <span> ─── ⋆⋅☆⋅⋆ ───</span>
</div>
<div class="najeni-container">
  <div>
    <div class="najeni-card">
      <h1 class="najeni-title" @fadeIn>@naomii.desapegos</h1>
      <h3 @fadeIn class="najeni-subtitle">Calcule seu frete aqui 👇</h3>
      <div class="najeni-form-field">
        <mat-label>Digite seu CEP:</mat-label>
        <input
          cepFormat
          class="najeni-input"
          maxlength="9"
          [formControl]="cepControl"
        />
        <mat-error *ngIf="cepControl.hasError('invalid')" @fadeIn
          >CEP Inválido (｡•́︿•̀｡)</mat-error
        >
        <button
          class="najeni-button"
          @fadeIn
          (click)="calculateFrete()"
          [ngClass]="{ 'fix-button': cepControl.hasError('invalid') }"
        >
          <span>Calcular Freteˎˊ˗</span>
        </button>
      </div>
      <app-frete-table
        *ngIf="tableData.length >= 1"
        @fadeIn
        [data]="tableData"
      ></app-frete-table>
    </div>
  </div>

  <div class="najeni-footer" @slideBottom>
    <a href="https://www.instagram.com/naomii.desapegos/">
      Para mais informações, manda uma DM <br />
      <span>✰ ✰ ✰</span> @naomii.desapegos <span>✰ ✰ ✰</span></a
    >
  </div>
</div>
