@import "../../../assets/styles/variables";

body {
  background-color: $color-background;
}

.najeni-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: $color-paragraph;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

.najeni-container > div {
  margin-top: -200px;
}
.najeni-texts {
  flex: 1;
  margin-bottom: 20vh;
}

.najeni-card {
  display: flex;
  align-items: center;
  flex: 3;
  flex-flow: column wrap;
  margin: 10px;
  margin-top: 6rem;
  flex-shrink: 0;
}

.najeni-form-field {
  mat-label {
    color: $color-highlight !important;
    font-size: 1rem;
    margin-left: -180px;
  }

  mat-error {
    position: relative;
    color: $color-main !important;
    font-size: 0.9rem;
    margin-left: -180px;
    margin-right: 42px;
    top: -10px;
  }
}
.najeni-input {
  width: 350px;
  height: 2.5rem;
  border: none;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.25rem !important;
  color: $color-paragraph !important;
  margin: 0.7rem;
}

.najeni-title {
  color: $color-main;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-family: "Agbalumo", sans-serif;
}

.najeni-subtitle {
  color: $color-main;
  font-size: 1.5rem;
}

.najeni-button {
  margin-right: -200px;
  border: none;
  border-radius: 20px;
  width: 160px;
  height: 50px;
  background-color: $color-highlight;
  color: $color-paragraph !important;
  font-family: "Agbalumo", sans-serif;
  font-size: 1rem !important;

  span {
    position: relative;
    top: -2px;
  }
}

.najeni-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.2rem;
  z-index: 10;
  font-family: "Agbalumo", sans-serif;

  a {
    text-decoration: none !important;
    color: $color-main;

    span {
      color: $color-highlight;
    }
  }

  i {
    margin-right: 2px;
  }
}

.najeni-topper {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 2.6rem;
  z-index: 10;

  span {
    text-decoration: none !important;
    color: $color-highlight;
  }
}
