table.mat-elevation-z8 th {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Montserrat Alternates", sans-serif;
}

table.mat-elevation-z8 td {
  font-weight: normal;
  font-size: 1rem;
  font-family: "Proxima Nova", sans-serif;
}
