@import "./assets/styles/variables";

body {
  background-color: $color-background;
  background: linear-gradient(to bottom, $color-background, $color-tertiary);
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
}

html,
body {
  height: 100%;
}
