@import "./assets/styles/variables";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("./assets/images/background-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Proxima Nova", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-size: cover;
}
